    <form>
        <div class="form-group" style="float:right">
            <label for="search">Quick Search</label>
            <input type="text" name="input" ng-model="searchText.text" placeholder="Player Name">
            <button type="button" class="btn btn-default" ng-click="setPage(1); search(0)">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </form>

    <ul uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.itemsPerPage" style="margin-bottom:0"></ul>
    
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>Name</th>
                <th>Games <span ng-click="sort('gp')" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                <th>PER <span ng-click="sort('PER')" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                <th>Effective Shooting % <span ng-click="sort('reb')" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                <th>True Shooting % <span ng-click="sort('ast')" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in playerList.slice(((pagination.currentPage-1)*pagination.itemsPerPage), ((pagination.currentPage)*pagination.itemsPerPage)) | filter">
                <td>
                    <img  style="width:85px" class="displayed" src="http://stats.nba.com/media/players/132x132/{{player.playerId}}.png">
                    {{player.playerName}} ({{player.teamAbbreviation}})</td>
                <td>{{player.gp}}</td>
                <td>{{player.PER}}</td>
                <td>{{player.reb}}</td>
                <td>{{player.ast}}</td>
            </tr>
        </tbody>
    </table>
        
    <!-- </body>
    
    
    
</html> -->