<div>
    
    <!-- <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#list">List</a></li>
      <li><a data-toggle="tab" href="#top">Top</a></li>
    </ul> -->
    
    <a class="btn btn-default" role="button" href="#/" aria-expanded="false" aria-controls="collapseExample" ng-click="allPlayers()"> 
        Basic Stats
    </a>
    
    <a class="btn btn-default" role="button" href="#advanced" aria-expanded="false" aria-controls="collapseExample" ng-click="calculateAdvanced()">
        Advanced Stats
    </a>
    
    <a class="btn btn-default" role="button" href="#leaders" aria-expanded="false" aria-controls="collapseExample" ng-click="allPlayers()">
        Leaders
    </a>

    <a class="btn btn-default" role="button" href="#compare" aria-expanded="false" aria-controls="collapseExample" ng-click="setAllTeams()">
        Player Comparison
    </a>
    
    <select ng-init="season.singleSelect = season.options[0].year" ng-model="season.singleSelect" ng-change="changeSeason()">
        <option ng-repeat="option in season.options" value="{{option.year}}">{{option.year}}</option>
    </select>
    
    <select ng-init="seasonType.singleSelect = seasonType.options[0].type" ng-model="seasonType.singleSelect" ng-change="changeSeason()">
        <option ng-repeat="option in seasonType.options" value="{{option.type}}">{{option.type}}</option>
    </select>
    
    <select ng-init="teams.singleSelect = teams.options[0].team" ng-model="teams.singleSelect" ng-change="setTeam()">
        <option ng-repeat="option in teams.options" value="{{option.team}}">{{option.team}}</option>
    </select>
    
    <i id="spinner" class="fa fa-refresh fa-spin" style="font-size:24px; display:none"></i>


</div>