<div ng-controller="nbaStatsController">
    <div header ng-controller="headerController"></div>


    <form>
        <div class="form-group" style="float:right">
            <label for="search">Quick Search</label>
            <input type="text" name="input" ng-model="searchText.text" placeholder="Player Name">
            <button type="button" class="btn btn-default" ng-click="setPage(1); search(0)">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </form>

    <ul uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagination.itemsPerPage" style="margin-bottom:0"></ul>
    
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>Name</th>
                <th><span id="gp" class="statHeader" ng-click="sort('gp')">Games</span></th>
                <th><span id="min" class="statHeader" ng-click="sort('min')">Minutes</span></th>
                <th><span id="pts" class="statHeader" ng-click="sort('pts')">Points</span></th>
                <th><span id="reb" class="statHeader" ng-click="sort('reb')">Rebounds</span></th>
                <th><span id="ast" class="statHeader" ng-click="sort('ast')">Assists</span></th>
                <th><span id="stl" class="statHeader" ng-click="sort('stl')">Steals</span></th>
                <th><span id="blk" class="statHeader" ng-click="sort('blk')">Blocks</span></th>
                <th><span id="tov" class="statHeader" ng-click="sort('tov')">Turnovers</span></th>
                <th><span id="fgPct" class="statHeader" ng-click="sort('fgPct')">Field Goal %</span></th>
                <th><span id="fg3Pct" class="statHeader" ng-click="sort('fg3Pct')">3 Point %</span></th>
                <th><span id="ftPct" class="statHeader" ng-click="sort('ftPct')">Free Throw %</span></th>
            </tr>
        </thead>
        <tbody style="background-color:white">
            <tr ng-repeat="player in playerList.slice(((pagination.currentPage-1)*pagination.itemsPerPage), ((pagination.currentPage)*pagination.itemsPerPage))">
                <!-- <tr ng-repeat="player in playerList | filter:searchText.text | startFrom:((pagination.currentPage-1)*pagination.itemsPerPage) | limitTo:((pagination.currentPage)*pagination.itemsPerPage)"> -->
                <td>
                    <img  style="width:85px" class="displayed" src="http://stats.nba.com/media/players/132x132/{{player.playerId}}.png">
                    {{player.playerName}} ({{player.teamAbbreviation}})</td>
                <td>{{player.gp}}</td>
                <td>{{player.min}}</td>
                <td>{{player.pts}}</td>
                <td>{{player.reb}}</td>
                <td>{{player.ast}}</td>
                <td>{{player.stl}}</td>
                <td>{{player.blk}}</td>
                <td>{{player.tov}}</td>
                <td>{{player.fgPct}}</td>
                <td>{{player.fg3Pct}}</td>
                <td>{{player.ftPct}}</td>
            </tr>
        </tbody>
    </table>
    
</div>